/* Start necessary Style  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Var   */
:root {
    --main-clr: #2196f3;
    --gray-clr: #ececec;
    --gray-clr2: #bdbdbd6b;
    --padding-: 100px;
    --transition-time: .4s;

}
html{
    scroll-behavior: smooth;
}

/* Font  */
@font-face {
    font-family: "Cairo";
    src: url(../assits/font/Cairo-VariableFont_slnt\,wght.ttf);
}

body {
    font-family: "Cairo";
}

ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.main-title {
    font-size: 30px;
    width: fit-content;
    margin: 0 auto 80px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 2px solid;
    position: relative;
    z-index: 1;
    transition: var(--transition-time);
}
.main-title::before,.main-title::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-clr);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before{
    left: -30px;
}
.main-title::after {
    right: -30px;
}

.main-title:hover::before{
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover {
    color: #fff;
    border: #fff;
    transition-delay: 0.5s;
}
.spiket {
    position: relative;
}
.spiket::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    right: 0;
    background-image: linear-gradient(135deg, #fff 25%, transparent 25%), linear-gradient(225deg, #fff 25%, transparent 25%);
    background-size: 30px;
}


.container {
    padding: 0 20px;
    margin: 0 auto;
}
/* Small screen  */
@media  (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* medium screen  */
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
/* Larg screen  */
@media (min-width:1200px){
    .container{
        width: 1190px;
    }
}
/* End necessary Style  */

/* Start Keyframes  */
@keyframes up-dwon{
    0%, 100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}
@keyframes arrow-move {
    0%, 100%, 50% {
        transform: translateY(0);
    } 
    20%, 60% {
        transform: translateY(-10px);
    }

}
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        
    }
    100% {
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes right-move {
50% {
        right: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;

    }

    100% {
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes arrow-right {
    50% {
        right: 15px;
    }
}
@keyframes backgroun-scal {
    0%, 50% {
        opacity: 1;
        
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

/* End Keyframes */

/* Start Header Style  */
header {
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 10px #c0c0c0;}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
@media (max-width:767px){
    header .container {
        flex-direction: column;
    }
}
header .container .logo{
   color: var(--main-clr);
    text-transform: capitalize;
    font-size: 25px;
    font-weight: bold;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    header .container .logo {
    height: 50px;
    width: 100%;
    }
}
header .container .nav-link {
    display: flex;
}
header .container .nav-link> li> a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    font-size: 18px;
    height: 75px;
    text-transform: capitalize;
    transition: var(--transition-time);
    overflow: hidden;
}

header .container .nav-link li> a:hover {
    background-color: #f3f3f375;
    color: var(--main-clr);
}
header .container .nav-link> li> a::before { 
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-clr);
    top: 0;
    left: -100%;
    transition: var(--transition-time);
}
header .container .nav-link> li> a:hover::before {
    left: 0;
}
@media (max-width: 767px) {
  header .container .nav-link> li> a {
    font-size: 15px;
    height: 40px;
    padding: 10px;
  }
}

header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    z-index:-1;
    background-color: #fff;
    display: flex;
    padding: 40px;
    gap: 30px;
    top: calc(100% + 60px);
    transition: top var(--transition-time), opacity var(--transition-time);
    border-bottom: 3px solid var(--main-clr);
    opacity: 0;
}
@media(max-width:766px){
    header .mega-menu{
        flex-direction: column;
        gap: 0;
        padding: 0;
    }
} 
header .mega-menu .image img {
    max-width: 100%;
}
@media(max-width:991px){
    header .mega-menu .image img {
        display: none;
    }
}
header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}

header .mega-menu .links li {
    position: relative;
    border-bottom: 1px solid #ececec;
}
header .mega-menu .links li::before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    background-color: #fafafa;
    transition: var(--transition-time);
}
header .mega-menu .links li:hover::before {
    width: 100%;
}
header .mega-menu .links li a {
    color: var(--main-clr);
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 15px;
}
header .mega-menu .links li a:hover {
    background-color: none;
}
header .mega-menu .links li i {
    margin-right: 10px;
}
header .container .nav-link > li:hover .mega-menu{
    opacity: 1;
    top: calc(100% + 1px);
    z-index: 100;
}

/* End Header Style  */

/* Start Landing Section Style  */
section.landing {
   position: relative;
}
section.landing::before {
        content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--gray-clr);
    left: 0;
    top: -40px;
    z-index: -1;
    /* transform: skew(0deg, -5deg); */
    transform: skewY(-6deg);
    transform-origin: top left;
}
section.landing .container {
    display: flex;
    height: calc(100vh - 75px);
    align-items: center;
    padding-bottom: 120px;
}
section.landing .container .landing-text {
    flex:1;
}
section.landing .container .landing-text h2 {
    text-transform: capitalize;
    margin: 0;
    font-size: 40px;
    letter-spacing: -2px;
}
section.landing .container .landing-text p {
    font-size: 23px;
    margin-top: 7px;
    line-height: 1.7;
    color: #666;
    max-width: 500px;
}
@media (max-width:991px){
   section.landing .container .landing-text {
    text-align: center;
    }
      section.landing .container .landing-text p{
        margin: 10px auto;
      }
}

@media (max-width:766px) {
      section.landing .container .landing-text h2 {
        font-size: 25px;
        letter-spacing: -1px;
    }
    section.landing .container .landing-text p {
        font-size: 18px;
    }
}
section.landing .container .landing-image img {
    position: relative;
    width: 600px;
    animation: up-dwon 4s linear  infinite ;
}
@media (max-width:991px){
    section.landing .container .landing-image img {
        display: none;
    }
}

section.landing .container a {
    position: absolute;
    left: 50%;
    bottom: 30px;
    color: var(--main-clr);
    transform: translateX(-50%);
    
}
section.landing .container  i {
    animation: arrow-move 1s linear infinite;
}
/* End Landing Section Style  */

/* Start Articles Section  */
section.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px, 1fr));
    gap: 40px;
}
section.articles .container .arti-box {
    background-color: #fff;
    box-shadow: 0px 3px 15px #e7e7e7;
    border-radius: 10px;
    overflow: hidden;
    transition: transform var(--transition-time), box-shadow var(--transition-time);
}
section.articles .container .arti-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0px 0px #c8c8c8, -2px 3px 10px #c8c8c8, 3px 0px 10px #c8c8c8;
}
section.articles .container .arti-box .image-box img {
    width: 100%;
    max-width: 100%;
}
section.articles .container .arti-box .text-box{
    padding: 20px ;
}
section.articles .container .arti-box .text-box h3 {
    text-transform: capitalize;
    margin-bottom: 12px;
}
section.articles .container .arti-box .text-box p {
    color: #9f9f9f;
    line-height: 1.5;
}
section.articles .container .arti-box  .read-more {
    position: relative;
    padding: 20px;
    border-top: 1px solid #dedede;
    color: var(--main-clr);
    font-size: 17px;
    font-weight: bold;
    text-transform: capitalize;
}
section.articles .container .arti-box .read-more::after {
    position: absolute;
    content: "\f30b";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    right: 23px;
       
}
section.articles .container .arti-box:hover .read-more::after{
    animation: arrow-right var(--transition-time) infinite;
}
/* End Articles Section  */

/* Start Gallery Section */
section.gallery {
    background-color: var(--gray-clr);
}
section.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
   
section.gallery .container .gall-box {
    padding: 15px;
    background-color: #fff;
    box-shadow: -1px -10px 20px 0px #e7e7e7, 2px 2px 7px #9f9f9f;
}
section.gallery .container .gall-box .image-box{
    overflow: hidden;
    position: relative;
}

section.gallery .container .image-box::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #eeeeee25;
}
section.gallery .container .image-box:hover::before {
    animation: backgroun-scal 1s;
}
section.gallery .container .image-box img {
   max-width: 100%;
   transition: var(--transition-time);
}
section.gallery .container .image-box:hover img {
   transform: scale(1.1) rotate(5deg);
}
/* End Gallery Section */

/* Start Featur Section */
section.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
section.features .container .box {
    border: 1px solid #c7c7c7;
}
section.features .container .box .image {
    position: relative;
    overflow: hidden;
}
section.features .container .quality .image::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f43f3695;
    top: 0;
    left: 0;
}   section.features .container .time .image::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00968794;
    top: 0;
    left: 0;
}   section.features .container .passion .image::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #03a8f492;
    top: 0;
    left: 0;
}   
section.features .container .box .image::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
   
    border: solid;
    border-width: 0 0 200px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--transition-time);
}
section.features .container .box:hover .image::after {
    border-width: 0 500px 190px 0;
}
section.features .container .box img {
    width: 100%;
}
section.features .container .box h2 {
    width: fit-content;
    position: relative;
    margin: 0 auto;
    font-size: 40px;
    text-transform: capitalize;
}

section.features .container .quality h2::before {
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    height: 5px;
    background-color: #f44036;
    bottom: -20px;
    left: 15px;
}
section.features .container .time h2::before{
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    height: 5px;
    background-color: #009688;
    bottom: -20px;
    left: 15px;
}
section.features .container .passion h2::before {
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    height: 5px;
    background-color: #03a9f4;
    bottom: -20px;
    left: 15px;
}
section.features .container .box p {
    width: fit-content;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: #9e9e9e;
    line-height: 2;
    margin: 30px 0;
}

section.features .container .box a {
    margin: 0 auto 30px;
    display: block;
    width: fit-content;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
   
    padding: 10px 25px;
    border-radius: 6px;
    transition: var(--transition-time);
}
section.features  .quality a {
    border: 3px solid #f44036;
    color: #f44036;
    background-image: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200px 200px;
    background-position: right bottom;
}


section.features .container .time a {
    border: 3px solid #009688;
    color: #009688;
    background-image: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200px 200px;
    background-position: right bottom;
}

section.features .container .passion a {
    border: 3px solid #03a9f4;
    color: #03a9f4;
    background-image: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200px 200px;
    background-position: right bottom;
}
section.features .box:hover a {
    background-position: bottom left;
    color: #fff;
}
/* End Featur Section */

section.testimonials {
    background-color: var(--gray-clr);
}
section.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
section.testimonials .container .box {
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px;
    box-shadow: -1px 2px 4px 1px #cdcdcd;
}

section.testimonials  .box img {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--gray-clr);
    top: -50px;
    right: -10px;
}
section.testimonials .box h2 {
    width: fit-content;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 10px;
}
section.testimonials .box span {
    text-transform: capitalize;
    margin-bottom: 10px;
    display: block;
    color: #777;
}
section.testimonials .box .yellow-clr {
color: #ffc107;
;
}
section.testimonials .box p {
    margin-top: 15px;
    line-height: 1.5;
    color: #777;
}
/* Start Team Members Section  */
section.team-members .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
section.team-members .container .box {
    position: relative;
}

section.team-members .container .box::after,section.team-members .container .box::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
}
section.team-members .container .box::before {
    background-color: #f3f3f3;
    width: calc(100% - 60px);
    z-index: -1;
}
section.team-members .container .box::after {
        width: 0;
        background-color: #d7d7d7;
        transition: var(--transition-time);
        z-index: -1;
}
section.team-members .box:hover::after {
    width: calc(100% - 60px);
}
section.team-members .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}
section.team-members .box .data img {
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: filter var(--transition-time);
}
section.team-members .box:hover img {
    filter: grayscale(1);
}
section.team-members .box .data .icons {
    width: 60px;
    display: flex ;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
section.team-members .box .data .icons i {
    width: 60px;
    color: #ababab;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-time);
    cursor: pointer;
}
section.team-members .box .data .icons i:hover {
    color:var(--main-clr);
}
section.team-members .container .info {
    padding-left: 80px;
    z-index: -1;
}
section.team-members .container .info h2 {
    text-transform: capitalize;
    margin-top: 15px;
    color: var(--main-clr);
    transition: var(--transition-time);
}
section.team-members .box:hover .info h2 {
    color: #777;
}
section.team-members .container .info p {
    margin: 10px 0 25px;
    font-size: 17px;
    text-transform: capitalize;
}

/* End Team Members Section  */
/* Start Services Section  */
section.services {
    background-color: var(--gray-clr);
}
section.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
section.services .container .box {
    counter-increment: section;
    text-align: center;
    box-shadow: -1px 4px 11px 0px #cdcdcd;
    padding: 25px 0 0 0;
    background-color: #fff;
    position: relative;
    transition: transform var(--transition-time);
}
section.services .container .box:hover {
    transform: translateY(-10px);
}
section.services .container .box::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--main-clr);
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--transition-time);
}
section.services .container .box:hover::before {
    width: 100%;
}
section.services .container .box i {
    font-size: 60px;
    color: var(--gray-clr2);
}
section.services .container .box h2 {
    text-transform: capitalize;
    margin: 20px 0 40px 0;
    color: var(--main-clr);
}
section.services .container .box .info {
    position: relative;
    padding: 15px;
    background-color: var(--gray-clr);
    text-align: right;
}
section.services .container .box .info::before {
    content: "0" counter(section);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    background-color: var(--main-clr);
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding-right: 15px;
}
section.services .container .box .info::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 100%;
    background-color: #d4d4d4;
    top: 0;
    left: 75px;
    transform: skewX(-35deg);
}
section.services .container .box .info a {
    text-transform: capitalize;
    color: var(--main-clr);
}
/* End Services Section  */
/* Start Our-Skills Section  */
section.our-skills .container {
    display: flex;
    align-items: center;
}
@media (max-width:991px){
    section.our-skills .container .image {
        display: none;
    }
}
section.our-skills .container .skills-box {
    flex:1;
}
section.our-skills .container .skills-box .box {
   margin-bottom: 20px;
}
section.our-skills .container .skills-box .box h4 {
    font-size: 18px;
    margin-bottom: 15px;
}
section.our-skills .container .skills-box .box .skill  {
    width: 100%;
    background-color: var(--gray-clr);
    height: 35px;
}
section.our-skills .container .skills-box .box .skill span {
    position: relative;
    display: block;
    height: 100%;
    background-color: var(--main-clr);
}
section.our-skills .container .skills-box .box .skill span::before {
        content: attr(precent);
        position: absolute;
        right: 0;
        top: -35px;
        border: 1px solid #999;
        height: 12px;
        width: 21px;
        font-weight: bold;
        font-size: 11px;
        padding: 3px;
        border-radius: 5px;
        color: var(--main-clr);
        display: flex;
        justify-content: center;
        align-items: center;
}
 /* End Our-Skills Section  */
 /* Start Steps Section  */
 section.how-it-work {
    background-color: var(--gray-clr);
 }
 section.how-it-work .container {
    display: flex;
    align-items: center;
 }
 @media (max-width:991px){
    section.how-it-work .container {
        flex-direction: column;
    }
 }
 section.how-it-work .container .step-img {
    max-width: 100%;
    margin-right: 100px;
 }
 @media (max-width:991px) {
     section.how-it-work .container .step-img {
         margin: 0 auto 50px auto;
     }
 }
.container .steps-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
section.how-it-work .container .steps-box .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f6f6f6;
    padding: 30px;
    border: 3px solid #fff;
    position: relative;
    border-radius: 6px;
    z-index: 1;
}
section.how-it-work .container .steps-box .box::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    z-index: -1;
    transition: var(--transition-time);
}
section.how-it-work .container .steps-box .box:hover:before{
    width: 100%;
    height: 100%;
    z-index: 1;
}
.container .steps-box .box img {
    width: 65px;
    margin-right: 30px;
}

.container .steps-box .box .text-step h3 {
    text-transform: capitalize;
    font-size: 22px;
    margin: 0;
}
.container .steps-box .box .text-step p {
    color: #777;
    line-height: 1.7;
    font-size: 18px;
    margin-top: 10px;
}
 /* End Steps Section  */
 /* Start Events Section  */
 section.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
 }
 
 section.events .container  img {
    max-width: 450px;
 }
 @media (max-width:991px){
    section.events .container img {
        display: none;
}
 }
section.events .container .box {
    flex: 1 1 0;
}
section.events .container .box .time {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}
section.events .container .box .time .unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #aaa;
    text-align: center;
    width: 75px;
    border-radius: 6px;
}
section.events .container .box .time .unit span:first-of-type {
    padding: 15px;
    font-size: 35px;
    font-weight: bold;
    color: var(--main-clr);
}
section.events .container .box .time .unit span:last-of-type {
    width: 100%;
    text-transform: capitalize;
    font-size: 13px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #aaa;
}
section.events .container .box .event-text {
    text-align: center;
}
section.events .container .box .event-text h2 {
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
section.events .container .box .event-text p {
    line-height: 1.7;
    font-size: 19px;
    color: #777;
}

section.events .container .subscibe {
    width: 100%;
    margin-top: 50px;
}
section.events .container .subscibe form {
    gap: 15px;
    width: 600px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    padding: 35px;
    background-color: #eee;
    border-radius: 60px;
}
@media (max-width:766px){
    section.events .container .subscibe form {
        flex-direction: column;
        width: 100%;
        border-radius: 0;
    }

}
section.events .container .subscibe form input[type= "email"] {
    border-radius: 60px;
    border: none;
    flex: 1;
    padding: 20px;
    text-transform: capitalize;
}

section.events .container .subscibe form input[type="email"]:focus {
    outline: none;
}
section.events .container .subscibe form input[type="email"]:focus::placeholder {
    color: #fff;
    transition: var(--transition-time);
}
@media (max-width:766px) {
    section.events .container .subscibe form input[type="email"] {
        border-radius: 0;
        max-width: 100%;
    }

}
section.events .container .subscibe form input[type='submit'] {
    padding: 17px;
    border: none;
    border-radius: 60px;
    background-color:#08a8e7;
    color: #fff;
    font-weight: bold;
    transition: var(--transition-time);
} 
section.events .container .subscibe form input[type='submit']:hover {
    background-color: #0a97ce;
}
@media (max-width:766px) {
    section.events .container .subscibe form input[type="submit"] {
        border-radius: 0;
    }
}
 /* End Events Section  */

 /* Start Pricing Section  */
 section.pricing {
    background-color: var(--gray-clr2);
 }
 section.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;

 }
 section.pricing .container .box {
    position: relative;
    background-color: #fff;
    box-shadow: 0px 2px 8px 0px #9c9c9c;
    text-align: center;
    z-index: 1;
 }
  section.pricing .container .box::before{
    position: absolute;
    content: '';
    height: 50%;
    width: 0;
    left: 0;
    background-color: #0666ff0f;
    z-index: -1;
    transition: width var(--transition-time);
  }
   section.pricing .container .box::after {
    position: absolute;
    content: '';
    height: 50%;
    width: 0;
    right: 0;
    bottom: 0;
    background-color: #0666ff0f;
    z-index: -1;
    transition: width var(--transition-time);
   }
        section.pricing .container .box:hover:before,  section.pricing .container .box:hover::after {
            width: 100%;
        }
 @media (min-width:1200px){
     section.pricing .container .box:nth-child(2) {
    top: -20px;
     } 
 }

 section.pricing .container .box .most-popular {
    position: absolute;
    writing-mode: vertical-lr;
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
    background-color: var(--main-clr);
    padding: 10px 10px 35px 10px;
    color: #fff;
    text-transform: capitalize;
    right: 25px;
 }
 section.pricing .container .box .most-popular::before {
    left: 0;
    position: absolute;
    content: '';
    border: 21px solid #fff;
    top: calc(100% - 41px);
    border-color: transparent transparent #fff transparent;
 }
 section.pricing .container h4 {
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
 }
 section.pricing .container img {
    width: 80px;
    margin-bottom: 30px;
 }
 section.pricing .container p {
    font-size: 50px;
    font-weight: bold;
    color: var(--main-clr);
    margin-bottom: 10px;
 }
 section.pricing .container span {
    display: inline-block;
    color: #a5a5a5;
    text-transform: capitalize;
    margin-bottom: 20px   
}
 
 section.pricing .container .box ul{
    text-align: left;
 }
 section.pricing .container .box ul li {
     position: relative;
    padding: 20px 40px;
    text-transform: capitalize;
    border-top: 1px solid #ddd;
 }
 section.pricing .container .box ul li::before {
    position: absolute;
    content: '\f00c';
    font-weight: 900;
    font-size: 15px;
    font-family: "Font Awesome 6 Free";
    color: var(--main-clr);
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
 }
 section.pricing .container .box button {
    margin: 40px;
    padding: 15px;
    background-color: #fff;
    border: 2px solid var(--main-clr);
    text-transform: capitalize;
    color: var(--main-clr);
    font-weight: bold;
    border-radius: 6px;
    transition: var(--transition-time);
 }
  section.pricing .container .box button:hover {
    background-color: var(--main-clr);
    color: #fff;
  }
 /* End Pricing Section  */

 /* Start Our Stats Section  */
 section.our-stats {
    position: relative;
    background-image: url(../assits/imgs/stats.jpg);
    background-size: cover;
    min-height: 300px;
    z-index: 1;
 }
 section.our-stats::before {
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fdfdfde3;
    z-index: -2;
 }
 section.our-stats h1 {
    width: fit-content;
    margin: 0 auto 50px;
    font-size: 40px;
    text-transform: capitalize;
}
 section.our-stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
 }
 section.our-stats .container .box {
    position: relative;
    background-color: #ffffff;
    text-align: center;
    padding: 30px 15px;
    transition: var(--transition-time);
 }
 section.our-stats .container .box::before,section.our-stats .container .box::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 0;
    background: var(--main-clr);
    transition: 1s;
 }
 section.our-stats .container .box::before {
    top: 0;
    left: 0;
 }
 section.our-stats .container .box::after {
    bottom: 0;
    right: 0;
 }
 section.our-stats .container .box:hover:before,section.our-stats .container .box:hover:after {
    height: 100%;
 }
 section.our-stats .box .fa-solid {
    margin-bottom: 20px;
    font-size: 35px;
 }
 section.our-stats .box p {
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 20px;
 }
 section.our-stats .box span i{
    font-size: 20px;
    font-weight: bold;
    color: var(--main-clr);
    text-transform: capitalize;
 }
 /* End Our Stats Section  */

 /* Start Discount Section  */
section.discount  {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
@media (max-width:991px){
    section.discount {
        flex-direction: column;
    }
}
section.discount  .image {
    flex-basis: 50%;
    background-image: url(../assits/imgs/discount-background1.jpg), url(../assits/imgs/discount-background2.jpg);
    background-size: cover;
    z-index: 1;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.discount .image::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #01a0eaf6;
    z-index: -1;
    top: 0;
    left: 0;
}
section.discount .discount-container {
    text-align: center;
    padding: 0 20px;
}
section.discount .discount-container h2 {
    font-size: 35px;
    margin: 30px 0;
    text-transform: capitalize;
}
section.discount .discount-container p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 500px;
}
section.discount .discount-container img {
    width: 300px;
    max-width: 100%;
}
section.discount  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    padding-bottom: 50px;
}
section.discount  .form .request-container {
    padding: 0 20px;
    text-align: center;
}
section.discount .form .request-container h2 {
    font-size: 40px;
    letter-spacing: -2px;
    text-transform: capitalize;
    margin: 40px 0;
}
section.discount .form .request-container form input:not(input[type = 'button']) {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid #777;
    padding: 13px;
    background-color: #f6f6f6;
}
section.discount .form .request-container form input:focus {
    outline: none;
}
section.discount .form .request-container form textarea {
    height: 200px;
    display: block;
    width: 100%;
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid #777;
    padding: 13px;
    background-color: #f6f6f6;
}
section.discount .form .request-container form input[type = 'button' ] {
    width: 100%;
    padding: 15px;
    border: none;
    text-transform: capitalize;
    background-color: var(--main-clr);
    color: #fff;
    font-weight: bold;
    transition: background-color var(--transition-time);
}
section.discount .form .request-container form input[type='button']:hover {
    background-color: #0a97ce;
}
/* End Discount Section  */
/* Start Footer  */
footer {
    background-color: #161616;
    padding: 70px 0 0 ;
}
footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;   
}

footer .container .social-media h1 {
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}
footer .container .social-media .acounts {
    display: flex;
    margin: 0 0 20px 0;
}
footer .container .social-media i {
    height: 40px;
    width: 40px;
    font-size: 20px;
    background-color: #373737;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #bbbbbb;
    transition: var(--transition-time);
}
footer .container .social-media i:hover {
background-color: var(--main-clr);
}
footer .container .social-media p {
    color: #bbbbbb;
    font-size: 16px;
    line-height: 2;
}
footer .container ul li {
    padding: 20px 0;
    transition: var(--transition-time);
}
footer .container ul li:not(:last-child) {
    border-bottom: 1px solid #a7a7a7;
}

footer .container ul li a {
    display: block;
    font-size: 18px;
    color: #bbbbbb;
    transition: var(--transition-time);
}


footer .container ul li a::before {
    content: '\f03';
    font-family: "font awesom 6 free";
    font-weight: 900;
    margin-right: 5px;
    color: var(--main-clr);
}
footer .container ul li:hover a {
    transform: translateX(20px);
    color: #fff;
}
/* End Footer  */