/* Start necessary Style  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Var   */
:root {
    --main-clr: #2196f3;
    --gray-clr: #ececec;
    --gray-clr: #bdbdbd6b;
    --padding-: 100px;
    --transition-time: .4s;

}
html{
    scroll-behavior: smooth;
}

/* Font  */
@font-face {
    font-family: "Cairo";
    src: url(../assits/font/Cairo-VariableFont_slnt\,wght.ttf);
}

body {
    font-family: "Cairo";
}

ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.main-title {
    font-size: 30px;
    width: fit-content;
    margin: 0 auto 80px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 2px solid;
    position: relative;
    z-index: 1;
    transition: var(--transition-time);
}
.main-title::before,.main-title::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-clr);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before{
    left: -30px;
}
.main-title::after {
    right: -30px;
}

.main-title:hover::before{
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover {
    color: #fff;
    border: #fff;
    transition-delay: 0.5s;
}


.container {
    padding: 0 20px;
    margin: 0 auto;
}
/* Small screen  */
@media  (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* medium screen  */
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
/* Larg screen  */
@media (min-width:1200px){
    .container{
        width: 1190px;
    }
}
/* End necessary Style  */

/* Start Keyframes  */
@keyframes up-dwon{
    0%, 100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}
@keyframes arrow-move {
    0%, 100%, 50% {
        transform: translateY(0);
    } 
    20%, 60% {
        transform: translateY(-10px);
    }

}
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        
    }
    100% {
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes right-move {
50% {
        right: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;

    }

    100% {
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes arrow-right {
    50% {
        right: 15px;
    }
}
@keyframes backgroun-scal {
    0%, 50% {
        opacity: 1;
        
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

/* End Keyframes */

/* Start Header Style  */
header {
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 10px #c0c0c0;}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
@media (max-width:767px){
    header .container {
        flex-direction: column;
    }
}
header .container .logo{
   color: var(--main-clr);
    text-transform: capitalize;
    font-size: 25px;
    font-weight: bold;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    header .container .logo {
    height: 50px;
    width: 100%;
    }
}
header .container .nav-link {
    display: flex;
}
header .container .nav-link> li> a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    font-size: 18px;
    height: 75px;
    text-transform: capitalize;
    transition: var(--transition-time);
    overflow: hidden;
}

header .container .nav-link li> a:hover {
    background-color: #f3f3f375;
    color: var(--main-clr);
}
header .container .nav-link> li> a::before { 
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-clr);
    top: 0;
    left: -100%;
    transition: var(--transition-time);
}
header .container .nav-link> li> a:hover::before {
    left: 0;
}
@media (max-width: 767px) {
  header .container .nav-link> li> a {
    font-size: 15px;
    height: 40px;
    padding: 10px;
  }
}

header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    z-index:-1;
    background-color: #fff;
    display: flex;
    padding: 40px;
    gap: 30px;
    top: calc(100% + 60px);
    transition: top var(--transition-time), opacity var(--transition-time);
    border-bottom: 3px solid var(--main-clr);
    opacity: 0;
}
@media(max-width:766px){
    header .mega-menu{
        flex-direction: column;
        gap: 0;
        padding: 0;
    }
} 
header .mega-menu .image img {
    max-width: 100%;
}
@media(max-width:991px){
    header .mega-menu .image img {
        display: none;
    }
}
header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}

header .mega-menu .links li {
    position: relative;
    border-bottom: 1px solid #ececec;
}
header .mega-menu .links li::before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    background-color: #fafafa;
    transition: var(--transition-time);
}
header .mega-menu .links li:hover::before {
    width: 100%;
}
header .mega-menu .links li a {
    color: var(--main-clr);
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 15px;
}
header .mega-menu .links li a:hover {
    background-color: none;
}
header .mega-menu .links li i {
    margin-right: 10px;
}
header .container .nav-link > li:hover .mega-menu{
    opacity: 1;
    top: calc(100% + 1px);
    z-index: 100;
}

/* End Header Style  */

/* Start Landing Section Style  */
section.landing {
   position: relative;
}
section.landing::before {
        content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--gray-clr);
    left: 0;
    top: -40px;
    z-index: -1;
    /* transform: skew(0deg, -5deg); */
    transform: skewY(-6deg);
    transform-origin: top left;
}
section.landing .container {
    display: flex;
    height: calc(100vh - 75px);
    align-items: center;
    padding-bottom: 120px;
}
section.landing .container .landing-text {
    flex:1;
}
section.landing .container .landing-text h2 {
    text-transform: capitalize;
    margin: 0;
    font-size: 40px;
    letter-spacing: -2px;
}
section.landing .container .landing-text p {
    font-size: 23px;
    margin-top: 7px;
    line-height: 1.7;
    color: #666;
    max-width: 500px;
}
@media (max-width:991px){
   section.landing .container .landing-text {
    text-align: center;
    }
      section.landing .container .landing-text p{
        margin: 10px auto;
      }
}

@media (max-width:766px) {
      section.landing .container .landing-text h2 {
        font-size: 25px;
        letter-spacing: -1px;
    }
    section.landing .container .landing-text p {
        font-size: 18px;
    }
}
section.landing .container .landing-image img {
    position: relative;
    width: 600px;
    animation: up-dwon 4s linear  infinite ;
}
@media (max-width:991px){
    section.landing .container .landing-image img {
        display: none;
    }
}

section.landing .container a {
    position: absolute;
    left: 50%;
    bottom: 30px;
    color: var(--main-clr);
    transform: translateX(-50%);
    
}
section.landing .container  i {
    animation: arrow-move 1s linear infinite;
}
/* End Landing Section Style  */

/* Start Articles Section  */
section.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px, 1fr));
    gap: 40px;
}
section.articles .container .arti-box {
    background-color: #fff;
    box-shadow: 0px 3px 15px #e7e7e7;
    border-radius: 10px;
    overflow: hidden;
    transition: transform var(--transition-time), box-shadow var(--transition-time);
}
section.articles .container .arti-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0px 0px #c8c8c8, -2px 3px 10px #c8c8c8, 3px 0px 10px #c8c8c8;
}
section.articles .container .arti-box .image-box img {
    width: 100%;
    max-width: 100%;
}
section.articles .container .arti-box .text-box{
    padding: 20px ;
}
section.articles .container .arti-box .text-box h3 {
    text-transform: capitalize;
    margin-bottom: 12px;
}
section.articles .container .arti-box .text-box p {
    color: #9f9f9f;
    line-height: 1.5;
}
section.articles .container .arti-box  .read-more {
    position: relative;
    padding: 20px;
    border-top: 1px solid #dedede;
    color: var(--main-clr);
    font-size: 17px;
    font-weight: bold;
    text-transform: capitalize;
}
section.articles .container .arti-box .read-more::after {
    position: absolute;
    content: "\f30b";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    right: 23px;
       
}
section.articles .container .arti-box:hover .read-more::after{
    animation: arrow-right var(--transition-time) infinite;
}
/* End Articles Section  */

/* Start Gallery Section */
section.gallery {
    background-color: var(--gray-clr);
}
section.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
   
section.gallery .container .gall-box {
    padding: 15px;
    background-color: #fff;
    box-shadow: -1px -10px 20px 0px #e7e7e7, 2px 2px 7px #9f9f9f;
}
section.gallery .container .gall-box .image-box{
    overflow: hidden;
    position: relative;
}

section.gallery .container .image-box::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #eeeeee25;
}
section.gallery .container .image-box:hover::before {
    animation: backgroun-scal 1s;
}
section.gallery .container .image-box img {
   max-width: 100%;
   transition: var(--transition-time);
}
section.gallery .container .image-box:hover img {
   transform: scale(1.1) rotate(5deg);
}
/* End Gallery Section */